<div class="box">
<p class="text">Login as</p>
<div>
    
    <button  type="button" class="btn">
        <a href="/teacher/login">Teacher Login</a>
    </button>


    <button  type="button" class="btn">
        <a href="/student/login">Student Login</a>
    </button>
</div>
</div>