

<div class="box">
<a href="/" class="btn btn-info " style="margin-top:5px;" >Logout</a>
<div class="optionDiv">
    <p></p>
    <p>

    </p>
    <button class="btn">
        <a href="/teacher/viewall">View All Students</a>
    </button>
    <p></p>
    <p></p>
    <button class="btn">
        <a href="/teacher/add">Add Student</a>
    </button>
</div>
</div>